/********* GLOBAL ************/

/* light */
:root {
  /* current nav */
  --color-currentnav: #cad7e4;

  /*links and current content*/
  --color-link-current: #d6e9fa;

  /*fonts*/
  --color-font: #2c3e50;

  /*borders*/
  --color-bd: #d6d4d8;

  /*backgroud*/
  --bg-header-footer: #f1f0f1;
  --bg-body: #f3f3f3;

  /* title*/
  --bg-title: #ebe3e3;

  /*hover and list table*/
  --color-hover-list: #a8d4ff;

  /****** level member ******/
  --primary-gold: #f9dba3;
  --second-gold: #382903;

  --primary-silver: #c0c0c0;
  --second-silver: #1d2e3d;

  --primary-bronze: #e6c29a;
  --second-bronze: #3b2612;

  --primary-member: #bcccdc;
  --second-member: #2d383c;

  /**** cards ***/
  --bg-card: #ebebeb;

  /*** toggle theme ico ***/
  --bg-theme-button: #bcccdc;
}

/* dark */
body.dark {
  /* current nav */
  --color-currentnav: #27639f;

  /*links and current content*/
  --color-link-current: #3e5160;

  /*fonts*/
  --color-font: #f5f5f7;

  /*borders*/
  --color-bd: #2f323c;

  /*background*/
  --bg-header-footer: #2c3039;
  --bg-body: #20242c;

  /* title*/
  --bg-title: #20242c;

  /*hover and list table*/
  --color-hover-list: #2d4564;

  /****** level member ******/
  --primary-gold: #876f3d;
  --second-gold: #f9dba3;

  --primary-silver: #7d7d7d;
  --second-silver: #c0c0c0;

  --primary-bronze: #6a4a2f;
  --second-bronze: #f2d2a9;

  --primary-member: #27639f;
  --second-member: #bcccdc;

  /**** cards ***/
  --bg-card: #373b45;

  /*** toggle theme ico ***/
  --bg-theme-button: #27639f;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-body);
}

/********** HEADER *********/

header {
  margin: 10px 10px 0 10px;
  padding: 10px 10px 0 10px;
  background-color: var(--bg-header-footer);
}

header div a img {
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
}

.navigation-bar {
  display: grid;
  grid-template-columns: 44px auto 44px 44px;
  column-gap: 8px;
  justify-items: left;
  align-items: end;
  border-bottom: 1px solid var(--color-bd);
}

.hambuger-button::after {
  content: "\2630";
}

.hambuger-button {
  width: 44px;
  height: 44px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.hambuger-button.show::after {
  content: "\00d7";
}

header span {
  font-size: 18px;
}

header span,
.navigation-bar > img {
  padding: 5px;
}

.navigation-bar a > img {
  background-color: var(--bg-theme-button);
  padding: 5px;
  border-radius: 12px;
}

.navigation-bar img {
  display: block;
}

.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  padding: 10px 0 0 0;
  margin: 0;
}
.navigation ul li {
  border-bottom: 1px solid var(--color-bd);
  padding: 14px 0 12px 5px;
  transition: background-color 0.5s;
}

.navigation ul li:hover {
  background-color: var(--color-hover-list);
}

.navigation ul li a,
span,
.hambuger-button {
  color: var(--color-font);
}
.current {
  background-color: var(--color-currentnav);
}

.current::before {
  content: "▸ ";
  font-weight: 700;
  color: var(--color-link-current);
}
/*******************************************************/
/******************** DIRECTORY ************************/
/*******************************************************/

/********** MAIN **********/

h1 {
  font-size: 1.8rem;
  color: var(--color-font);
  margin: 12px 0 12px 10px;
}

h2 {
  font-size: 1.2rem;
  color: var(--color-font);
  border-bottom: 1px solid var(--color-bd);
  margin-left: 10px;
}

.buttons-view {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  gap: 10px;
}

.buttons-view > a {
  font-size: 12px;
  border: 1px solid var(--color-bd);
  border-radius: 2px;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: left;
  padding: 2px;
}

.buttons-view > a img {
  display: block;
  width: 2rem;
  height: auto;
  padding: 3px;
}

.buttons-view > a span {
  font-size: 1.2rem;
  padding-right: 2px;
  color: var(--color-font);
  font-weight: 500;
}

.cards-container.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  justify-items: center;
  row-gap: 15px;
}

.cards-block {
  margin: auto 10px;
}

.card {
  background-color: var(--bg-card);
  border: 1px solid var(--color-bd);
  border-radius: 5px;
}

.card figure {
  position: relative;
  margin: 0 auto;
  width: 200px;
}

figure > img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

figcaption {
  padding: 10px 0 15px 5px;
  max-width: 195px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  height: 20px;
  color: var(--color-font);
}

dl {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 10px;
}
dt,
dd {
  margin: 0;
  max-width: 190px;
  word-wrap: break-word;
}

dt {
  font-weight: 500;
  padding: 8px 5px 2px 5px;
  color: var(--color-font);
}

dd {
  padding: 0 5px;
  color: var(--color-font);
}

.card dd a {
  color: var(--color-link-current);
}

.trapeze {
  position: absolute;
  left: -1px;
  top: -1px;
  clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: start;
}

.trapeze svg {
  width: 20px;
  height: auto;
}

.trapeze svg,
.trapeze span {
  padding: 2px;
}

.trapeze span {
  font-weight: 700;
}

.trapeze.gold {
  background-color: var(--primary-gold);
}

.trapeze.gold svg {
  fill: currentColor;
  color: var(--second-gold);
}

.trapeze.gold span {
  color: var(--second-gold);
}

.trapeze.silver {
  background-color: var(--primary-silver);
}
.trapeze.silver span {
  color: var(--second-silver);
}

.trapeze.silver svg {
  fill: currentColor;
  color: var(--second-silver);
}

.trapeze.member {
  background-color: var(--primary-member);
}

.trapeze.member span {
  color: var(--second-member);
}

.trapeze.member svg {
  fill: currentColor;
  color: var(--second-member);
}

.cards-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: var(--color-font);
}

.cards-container th,
.cards-container td {
  word-wrap: break-word;
  font-family: "Raleway", sans-serif;
}

.main-row {
  border: 1px solid var(--color-bd);
}
.cards-container th {
  text-align: center;
  padding: 10px 0;
  background-color: var(--color-hover-list);
}

.cards-container td {
  padding: 4px;
  text-align: left;
  height: 80px;
  position: relative;
}

tr.main-row td {
  border-right: 1px solid var(--color-bd);
}

tr.main-row td p {
  margin: 8px 0 0 0;
}

tr.main-row td:first-child {
  font-weight: 700;
}

tr.main-row td:last-child {
  border-right: none;
  text-align: center;
}

th.businessName {
  width: 28%;
}
th.phone {
  width: 20%;
}
th.address {
  width: 32%;
}
th.website {
  width: 20%;
}

.cards-container td a svg {
  width: 30px;
  height: auto;
  fill: currentColor;
  color: var(--color-link-current);
}

.description-row {
  height: 10px;
  padding-bottom: 50px;
}

/*******************************************************/
/******************** HOME ************************/
/*******************************************************/
/*************** MAIN ************/

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero p {
  position: absolute;
  top: 2%;
  left: 6%;
  color: #f3e9e9;
  background-color: rgba(44, 62, 80, 0.7);
  padding: 2px 10px;
  border-radius: 10px;
  font-size: 1rem;
  text-shadow: 2px -2px 2px #2c3e50;
  font-weight: 700;
}

.hero button {
  position: absolute;
  bottom: 25%;
  left: 20%;
  color: var(--color-font);
  background-color: var(--primary-gold);
  font-weight: 700;
  padding: 6px 14px;
  border-radius: 10px;
  border: 1px solid var(--second-gold);
  box-shadow: 2px 1px 20px var(--color-bd);
  cursor: pointer;
}

.hero button:hover {
  color: var(--color-link-current);
}

.top {
  position: relative;
  top: -12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 300px;
}

.top section {
  border: 1px solid var(--color-bd);
  background-color: var(--bg-card);
}

.top section h2 {
  border: none;
  padding: 5px 0 5px;
  margin: 0 0 5px 0;
  text-align: center;
  background-color: var(--bg-title);
}

.top section p {
  color: var(--color-font);
}

.top dt,
.top dd {
  max-width: none;
}

.top dt {
  font-weight: 700;
}

.top dl {
  margin: 5px;
}
.top dt::before {
  content: "• ";
}

.top p {
  margin: 0;
}

.events {
  grid-column: 1 / 2;
  grid-row: 1/ 3;
  border-bottom-left-radius: 10px;
}

.events,
.events h2 {
  border-top-left-radius: 10px;
}

.weather,
.weather h2 {
  border-top-right-radius: 10px;
}

.weather > p,
.forecast p {
  text-align: center;
  margin-bottom: 2px;
  font-weight: 700;
}

.weather div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}

.weather div p {
  margin-left: 15px;
  font-size: 2rem;
  font-weight: 700;
}

.weather > p span,
.forecast p span {
  font-weight: normal;
}

.weather div img {
  background-color: var(--second-silver);
  width: 50px;
  height: 50px;
}

.forecast {
  grid-column: 2 / 3;
  border-bottom-right-radius: 10px;
}

.forecast div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-business {
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 8px 18px;
  border-radius: 10px;
  width: fit-content;
  color: var(--bg-title);
  background-color: var(--color-font);
  border: 1px solid var(--color-font);
  cursor: pointer;
  font-size: 1.45rem;
}

.button-business:hover {
  background-color: var(--color-link-current);
}

/*******************************************************/
/******************** JOIN ************************/
/*******************************************************/
dialog {
  background-color: var(--bg-card);
  border: 1px solid var(--color-font);
  border-radius: 10px;
  color: var(--color-font);
}

dialog button {
  color: var(--color-font);
  border-radius: 5px;
  padding: 12px 50px;
  cursor: pointer;
  font-weight: 700;
  background-color: var(--bg-body);
  border: 1px solid var(--color-bd);
}

dialog button:hover {
  color: var(--color-link-current);
}

dialog::backdrop {
  background-color: var(--bg-body);
  opacity: 0.8;
}

.info-membership {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--color-font);
}

/*ANIMATION*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.info-membership section {
  opacity: 0;
  text-align: center;
  background-color: var(--bg-card);
  border: 1px solid var(--color-bd);
  border-radius: 10px;
  animation: fadeIn 1.5s ease-in-out forwards;
}

.info-membership section button {
  color: var(--color-font);
  border-radius: 5px;
  padding: 12px 50px;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 10px;
}

.info-membership section button:hover {
  color: var(--color-link-current);
}

#button-np button {
  background-color: var(--primary-member);
  border: 1px solid var(--second-member);
}
#button-bronze button {
  background-color: var(--primary-bronze);
  border: 1px solid var(--second-bronze);
}
#button-silver button {
  background-color: var(--primary-silver);
  border: 1px solid var(--second-silver);
}
#button-gold button {
  background-color: var(--primary-gold);
  border: 1px solid var(--second-gold);
}

form {
  margin: 0 10px;
  color: var(--color-font);
}

form legend {
  padding: 0 10px;
}

fieldset {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-bd);
}

form input {
  height: 30px;
  padding: 5px;
  border: 1px solid var(--color-bd);
  color: var(--color-font);
  background-color: var(--bg-header-footer);
}

label {
  margin: 15px 0 5px 0;
}

form p {
  margin: 15px 0 5px 0;
}

input[type="radio"] {
  cursor: pointer;
  height: 22px;
}

textarea {
  padding: 5px;
  min-height: 50px;
  border: 1px solid var(--color-bd);
  color: var(--color-font);
  background-color: var(--bg-header-footer);
}

form button {
  display: block;
  margin: 10px auto;
  color: var(--color-font);
  background-color: var(--primary-gold);
  font-weight: 700;
  padding: 8px 14px;
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid var(--second-gold);
  box-shadow: 2px 1px 20px var(--color-bd);
  cursor: pointer;
}

form button:hover {
  color: var(--color-link-current);
}

/*******************************************************/
/******************** THANK YOU ************************/
/*******************************************************/

/********** MAIN **********/
.thankyou {
  color: var(--color-font);
}
p.thankyou {
  text-align: center;
  font-weight: 700;
  color: green;
  margin: 2rem 0;
}

section.thankyou {
  margin: 0 10px;
  border-top: 1px solid var(--color-bd);
}
section.thankyou p {
  font-weight: 700;
  font-size: 1.2rem;
}

.thankyou dl {
  border-bottom: 1px solid var(--color-bd);
}

/*******************************************************/
/******************** DISCOVER ************************/
/*******************************************************/

/********** MAIN **********/

.discover-cards-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

.discover-cards-container section {
  box-sizing: border-box;
  border: 1px solid var(--color-bd);
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-card);

  overflow: hidden;
  display: grid;
  grid-template-areas:
    "image"
    "name"
    "description"
    "address"
    "button";
  row-gap: 10px;
}

.discover-cards-container h2 {
  border: none;
  color: var(--color-font);
  grid-area: name;
}

.discover-cards-container p {
  color: var(--color-font);
  margin: 0;
  grid-area: description;
}

.discover-cards-container address {
  color: var(--color-font);
  grid-area: address;
}

.discover-cards-container figure {
  margin: 0 auto;
  grid-area: image;
}

.discover-cards-container img {
  width: 280px;
  height: auto;
  display: block;
}
.discover-cards-container button {
  background-color: var(--color-hover-list);
  color: var(--color-font);
  border: 1px solid var(--color-font);
  border-radius: 10px;
  padding: 8px 16px;
  font-weight: 500;
  cursor: pointer;
  grid-area: button;
  height: 44px;
}

.discover-cards-container button:hover {
  background-color: var(--color-link-current);
}

@keyframes moveFadein {
  from {
    transform: translateY(75px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

#last-visit-msg {
  background-color: var(--color-hover-list);
  color: var(--color-font);
  padding: 10px;
  margin: 0 10px 10px 10px;
  border-radius: 5px;
  animation: moveFadein 1.5s;
}

/*************** FOOTER *************/

footer {
  background-color: var(--bg-header-footer);
  min-height: 63.39px;
}

footer p {
  text-align: center;
  padding: 15px 0 30px 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

footer p span {
  font-size: 1rem;
  padding: 2px;
}

/********* MAIN *******/

.footer-main {
  color: var(--color-font);
  /* height: 240px; */
}

.footer-main .flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  color: var(--bg-title);
  background-color: var(--color-font);
  padding: 10px 0;
}

.footer-main p {
  padding: 0;
}

.footer-main .chamberInfo {
  margin-left: 10px;
}

.footer-main .chamberInfo p {
  text-align: left;
}

.footer-main .social {
  margin-right: 10px;
}

.social svg {
  fill: currentColor;
  width: 44px;
  height: 44px;
  margin: 2px;
}

.social a {
  color: inherit;
}

.social svg:hover {
  fill: var(--color-link-current);
}

.footer-main .infoCopyright {
  padding: 10px 0;
}
