@media only screen and (min-width: 40rem) {
  /********** GLOBAL ***********/
  header,
  main,
  footer {
    max-width: 75rem;
    margin: 0 auto;
  }

  /******** HEADER *********/

  .navigation-bar {
    grid-template-columns: 44px auto 54px;
  }

  .hambuger-button {
    display: none;
  }

  .navigation {
    display: block;
    border-bottom: 1px solid var(--color-bd);
  }
  .navigation.dark {
    border-bottom: 1px solid var(--color-bd-dark);
  }

  .navigation ul {
    display: flex;
    gap: 1px;
  }

  .navigation ul {
    padding: 0;
  }

  .navigation ul li {
    border-bottom: 1px solid var(--color-bd);
    border-bottom: none;
    padding: 10px 15px;
  }

  /********* DIRECTORY **********/
  /*********** MAIN *********/

  .buttons-view {
    justify-content: left;
  }

  /*********** HOME ************/
  /*********** MAIN *********/

  .hero p {
    top: 1%;
    left: 6%;
    font-size: 1.5rem;
  }

  .hero button {
    bottom: 20%;
    left: 20%;
  }

  .top {
    position: relative;
    top: -20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: fit-content;
    margin: 0 auto;
    background-color: var(--bg-card);
    border-radius: 10px;
    height: auto;
  }

  .events {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-bottom-left-radius: 10px;
  }

  .weather {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .weather,
  .weather h2 {
    border-radius: 0;
  }

  .forecast {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border-bottom-right-radius: 10px;
  }

  .forecast div {
    justify-content: space-between;
    gap: 10px;
  }

  .forecast div p {
    margin-top: 10px;
  }

  .forecast,
  .forecast h2 {
    border-top-right-radius: 10px;
  }

  .top dd {
    padding-bottom: 8px;
    /* border-bottom: 1px solid var(--color-bd); */
  }

  .top dd:last-child {
    padding-bottom: 5px;
    border-bottom: none;
  }

  /*********** JOIN ************/
  /*********** MAIN *********/

  .join-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info-membership {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-font);
    justify-content: center;
  }

  .info-membership {
    grid-column: 2/3;
  }
  form {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  /*******************************************************/
  /******************** DISCOVER ************************/
  /*******************************************************/

  /********** MAIN **********/
  .discover-cards-container section {
    max-width: 500px;
    overflow: hidden;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image name"
      "image description"
      "address address"
      "button button";
  }

  .discover-cards-container button {
    margin: 0 auto;
    width: 200px;
    height: 38px;
  }

  .discover-cards-container figure {
    overflow: hidden;
  }

  .discover-cards-container img {
    width: 100%;
    transition:
      transform 0.3s ease,
      filter 0.3s ease;
  }
  .discover-cards-container img:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }

  /******** FOOTER *******/

  footer p {
    display: block;
  }

  footer p span {
    padding: 0px;
  }

  /******** MAIN ******/

  .footer-main .flex {
    flex-direction: row;
    gap: 0;
  }

  .social svg {
    margin: 4px;
  }

  .footer-main p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 46.87rem) {
  /*********** HOME ************/
  /*********** MAIN *********/
  .hero p {
    top: 1%;
    left: 6%;
    font-size: 1.8rem;
  }

  .hero button {
    bottom: 25%;
    left: 20%;
  }

  .top {
    top: -30px;
  }

  .top section {
    width: 15rem;
  }
  .weather div img {
    width: 75px;
    height: 75px;
  }
}

@media only screen and (min-width: 64rem) {
  /*********** HOME ************/
  /*********** MAIN *********/
  .hero p {
    top: 15%;
    left: 6%;
    font-size: 2rem;
  }

  .hero button {
    bottom: 25%;
    left: 20%;
  }

  .top section {
    width: 20rem;
  }

  /*******************************************************/
  /******************** DISCOVER ************************/
  /*******************************************************/

  /********** MAIN **********/
  .discover-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 0 10px;
  }
}
