@media only screen and (min-width: 38rem) {
  body {
    max-width: 900px;
    margin: 0 auto;
  }
  header {
    grid-template-columns: 24x auto;
  }
  .hamburger {
    display: none;
  }
  nav ul {
    display: flex;
  }

  .navigation {
    display: block;
    border-bottom: 1px solid var(--color-theme-1);
  }

  .navigation ul li a {
    border: none;
  }
}
