* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
  background-color: #181818;
  color: #ccc;
}

main {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

p {
  margin-top: 15px;
  flex-grow: 4;
}
p span {
  font-weight: 700;
  color: #ce9178;
}
figure {
  flex-grow: 10;
}

img {
  background-color: #1f1f1f;
  border-radius: 10px;
}

figcaption {
  color: #439ccb;
}
