@media only screen and (min-width: 66rem) {
  body {
    max-width: 66rem;
  }

  .flex {
    flex-direction: row;
    justify-content: space-around;
  }

  #leadership-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #add-member-main {
    max-width: 66rem;
    margin: 0 auto;
  }

  .form-section {
    max-width: 700px;
  }

  .thankyou-card {
    max-width: 700px;
  }
  #member-table {
    max-height: calc(50px * 10);
  }
}
